body{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: auto;
}

#principal{
    position:center;
    background-color: black;
    width: 101%;
    height: 955px;
}

#divTop{
    position: top;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 1290px;
    height: 150px;
    padding: 5px;
    margin: 50px 50px;
}

.item1 {
  width: 150px;
  height: 180px;
  margin: 5px;
  padding: 5px;
  border-left: 1px;
  border-right: 1px;
}

.item2 {
  width: 150px;
  height: 200px;
  margin: 5px;
  padding: 5px;
  border-left: 1px;
  border-right: 1px;
  background-color: rgb(255, 0, 255);
  border-radius: 2rem;
}

#bleachImg{
    width: 1350px;
    height: 400px;
    border-radius: 5rem;
    box-shadow: inset;
}

#hunterImg{
    width: 150px;
    height: 200px;
    border-radius: 1rem;
}

#oneImg{
    width: 150px;
    height: 200px;
    border-radius: 1rem;
}

#olympusImg{
    width: 150px;
    height: 200px;
    border-radius: 1rem;
}

#punchImg{
    width: 150px;
    height: 200px;
    border-radius: 1rem;
}

#bzImg{
    width: 150px;
    height: 200px;
    border-radius: 1rem;
}

#noraImg{
    width: 150px;
    height: 200px;
    border-radius: 1rem;
}

span{
    color: rgb(255, 217, 0);
    text-align: center;
}

h2{
    text-align: center;
    color: rgb(180, 0, 0);
    width: 80pix;
    height: 95pix;
    font-size: 250%;
}

h3{
   text-align: center;
    color: rgb(255, 255, 255);
    width: 120pix;
    height: 150pix;
    font-size: 250%;
}

p {
    text-align: center;
    color: rgb(253, 253, 253);
    width: 20pix;
    height: 25pix;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}